<div class="comments box">
    <% if comments.count > 0 %>
        <% comments.each do |comment| %>
            <span><%= comment.author.name %>: <%= comment.text %></span>
        <% end %>
    <% else %>
            <span>No comments</span>
    <% end %>
</div>