<div class="comments box">
    <% if comments.count > 0 %>
        <% comments.each do |comment| %>
            <span><%= comment.author.name %>: <%= comment.text %></span>
            <% if can? :destroy, comment %>
                <%= button_to 'Delete comment', user_post_comment_path(post_id: comment.post.id, id: comment.id), method: :delete%>
            <% end %>
        <% end %>
    <% else %>
            <span>No comments</span>
    <% end %>
</div>