<div class="user-card" id="user-card">
    <div class="profile-image"><%= image_tag "profile_icon.png", id: "profile-image#{user.id}" %></div>
    <div class="user-info">
        <span class="user-name"><%= user.name %></span>
        <div class="posts-count">
            <span>Number of posts:</span>
            <span> <%= user.posts_counter %></span>
        </div>
    </div>       
</div> 