<%= render "shared/user_card", user: @user %>
<div>
    <% @posts.each do |post| %>
        <div class="post-and-comments-preview">
            <%= render "shared/post_preview", post: post %>
            <%= render "shared/comments", comments: post.most_recent_comments %>
        </div>
    <% end %>

    <%if @posts.length > 5 %>
        <button>Pagination</button>
    <%end%>
</div>