/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .main-container {
     padding: 20px 50px;
 }

 a {
     text-decoration: none;
     color: black;
 }

.user-card {
    display: flex;
    padding: 10px 0;
}

.profile-image {
    border: 1px solid black;
}

.user-info {
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px 0 10px 50px;
    padding: 0 30px;
}

.user-name {
    font-size: 50px;
    line-height: 134px;
}

.posts-count {
    align-self: flex-end;
    padding-bottom: 20px;
}

.post-preview {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.comments-and-likes-count {
    align-self: flex-end;
}

.title {
    margin-bottom: 20px;
}

.button {
    padding-top: 20px;
    text-align: center;
}

.comments {
    display: flex;
    flex-direction: column;
}

.box {
    border: 1px solid black;
    padding: 10px;
}

.post-and-comments-preview {
    padding: 10px 0;
}

.post-title {
    display: flex;
    justify-content: space-between;
}
